@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0;
  padding: 0;
  box-sizing:
    border-box;
}

body {
  font: 13px Helvetica, Arial;
}

/* .box {
background: #000;
padding: 3px;
position: fixed;
bottom: 0;
width: 100%;
}
.box input { border: 0;
padding: 10px;
width: 90%;
margin-right: .5%;
}
.box button { 
  width: 9%;
  background: rgb(130, 224, 255); 
  border: none; 
  padding: 10px; 
} */

.box {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgb(235, 235, 228);

}

.box input {
  outline: 0;
  border: none;
  width: 90%;
  padding: 10px;
  /* 	margin-right:.5%; */
}

.box a {
  display: inline-block;
  width: 10%;
  outline: 0;
  border: none;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.send {
  /* display: inline-block; */
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  border: 1px solid #00b850;

  background: #00ff82;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff82), to(#00b850));
  background: -moz-linear-gradient(top, #00ff82, #00b850);
  background: linear-gradient(to bottom, #00ff82, #00b850);
  font: normal normal bold 18px arial;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.send:hover,
.send:focus {

  background: #00ff9c;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ff9c), to(#00dd60));
  background: -moz-linear-gradient(top, #00ff9c, #00dd60);
  background: linear-gradient(to bottom, #00ff9c, #00dd60);
  color: #ffffff;
  text-decoration: none;
}

.send:active {
  background: #00b850;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b850), to(#00b850));
  background: -moz-linear-gradient(top, #00b850, #00b850);
  background: linear-gradient(to bottom, #00b850, #00b850);
}

.send:before {
  content: "\0000a0";
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 4px -6px -4px;
  position: relative;
  top: 0px;
  left: 0px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACn0lEQVRIidWVTWhVVxSFv317B+8hJPfsF0QcBKFpEKFSKLQ4kVKr1ipU6kitFCeBoNKBkzpwKM6Egq1SndSfQREp0iIqthMpOlaIIyU4KA7MvumLYNR4Vwe5kWeM76GkQtfwsPZa++y9Dgf+73jndQsK96XNZvNMs9m8M/3o0d+9+NnrGhgMmdlW4Fpy35FSWlyDjpoHwGnMDif3fNEMJGVIAKPAceA74HyRUt+iGGRmYAbwBGlPbbTBzP5y9+H5fOsm1t/fn2V5vgppLfA+MAisAFYBG8uIKwDJ/RPgF4NMsL2MuNrVILk3gJG6u2EzyyQFMM7s7NvAvjLi/vOaVmsI6TxmK5H2zzx9enRqaupFg6IosCz7DDhRd3sDs9NIl57NzIy32+1uFya59wE/m9lWSSeR9s0njCT3x8n9dnL/tFcEFzRptbLkfii5P0vufzyPV3L/CjgGXDTYGRHd230FMqCCRr2PaQMoWq3lJt0CxgzWR8T0m4gn9wI4C3wOHMVsfw5g0kGgAezqFE/uA8BHwAfAu8BSoA+oBN9MRtzr4A4BvwLDwCjST2UEeS3yNfBjGTFeDAxkVlVbgD3AWjNrSHoC3GM2QQ2bNVxZn83F9BxmIG0qI/7sHNkXdffHkvuwVdU1M7tQd3tQ0odk2ZIy4r0yYg3wbf3QSO4k9xHgMnAf6eNOcYAcWIfZTaTlwG9ASPqygt//iajmz1nSXLZzzL43aa/gIrCrjJicz8+B1Uht4AJwE9hWRjxYeI1gZnOmPyANCo4YHIiImYX4OTBoZi5pDLPN5cTEw1eJAwgqM8OkZYLdZcSpbvwMKJAqYLSXOIDBXUmXBOt7iQNQv7jrRav1Jn9DT2TAJHB1cmLipYUuBnJgOzD2X4i/FfwLjB4AzTR5WVAAAAAASUVORK5CYII=") no-repeat left center transparent;
  background-size: 100% 100%;
}



#messages {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding:
    5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

.boxn {
  border: 1px solid black;
  border-radius: 10px;
  height: 200px;
  width: 300px;
  position: relative;
  padding: 10px;
  font-size: 15px;

}

.type {
  bottom: 43px;
  position: fixed;
  margin-left: 50px;
}

.loader {
  position: fixed;
  width: 50px;
  height: 15px;
  text-align: center;
  display: none;
  bottom: 43px;
}

.circle {
  height: 5px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: expand .99s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.55);
  }
}

.circle:nth-child(1) {
  opacity: 0.3;
  background: red;
}

.circle:nth-child(2) {
  opacity: 0.3;
  animation-delay: 280ms;
  background: red;
}

.circle:nth-child(3) {
  opacity: 0.3;
  animation-delay: 560ms;
  background: red;
}



.centered {
  width: 650px;
  height: 410px;
  position: relative;
  top: 50%;
  left: 50%;
  background: #333;
  /* border:1px solid blue; */
  transform: translate(-50%, 25%);
  -webkit-box-shadow: -1px -1px 15px 1px rgba(43, 198, 237, 0.75);
  -moz-box-shadow: -1px -1px 15px 1px rgba(43, 198, 237, 0.75);
  box-shadow: -1px -1px 15px 1px rgba(43, 198, 237, 0.75);
}

.group2 {
  width: 400px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);

}

.group {
  width: 400px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}

label {
  position: absolute;
  top: 36.6666666667px;
  color: rgba(255, 255, 255, 0.5);
  font: 400 36.6666666667px Roboto;
  cursor: text;
  transition: 0.25s ease;
}

.group>input,
.group2>input {
  display: block;
  width: 100%;
  padding-top: 36.6666666667px;
  border: none;
  border-radius: 0;
  color: white;
  background: #333;
  font-size: 36.6666666667px;
  transition: 0.3s ease;
}

.group>input:valid~label,
.group2>input:valid~label {
  top: 0;
  font: 700 22px Roboto;
  color: rgba(255, 255, 255, 0.5);
}

.group>input:focus,
.group2>input:focus {
  outline: none;
}

.group>input:focus~label,
.group2>input:focus~label {
  top: 0;
  font: 700 22px Roboto;
  color: #2196f3;
}

.group>input:focus~.bar:before,
.group2>input:focus~.bar:before {
  transform: translateX(0);
}

.group>input:-webkit-autofill,
.group2>input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: white !important;
}

.bar {
  background: rgba(255, 255, 255, 0.5);
  content: "";
  width: 450px;
  height: 3.6666666667px;
  transition: 0.3s ease;
  position: relative;
}

.bar:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150%;
  background: #2196f3;
  transform: translateX(-100%);
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}

.sub {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
  margin-top: 10px;
  -moz-box-shadow: 0px 10px 14px -7px #85898a;
  -webkit-box-shadow: 0px 10px 14px -7px #85898a;
  box-shadow: 0px 10px 14px -7px #85898a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0a171c), color-stop(1, #2c3f42));
  background: -moz-linear-gradient(top, #0a171c 5%, #2c3f42 100%);
  background: -webkit-linear-gradient(top, #0a171c 5%, #2c3f42 100%);
  background: -o-linear-gradient(top, #0a171c 5%, #2c3f42 100%);
  background: -ms-linear-gradient(top, #0a171c 5%, #2c3f42 100%);
  background: linear-gradient(to bottom, #0a171c 5%, #2c3f42 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a171c', endColorstr='#2c3f42', GradientType=0);
  background-color: #0a171c;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #29668f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 43px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.sub:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2c3f42), color-stop(1, #0a171c));
  background: -moz-linear-gradient(top, #2c3f42 5%, #0a171c 100%);
  background: -webkit-linear-gradient(top, #2c3f42 5%, #0a171c 100%);
  background: -o-linear-gradient(top, #2c3f42 5%, #0a171c 100%);
  background: -ms-linear-gradient(top, #2c3f42 5%, #0a171c 100%);
  background: linear-gradient(to bottom, #2c3f42 5%, #0a171c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c3f42', endColorstr='#0a171c', GradientType=0);
  background-color: #2c3f42;
}

/* --------------------------------------------- USERS LIST ------------------------------- */
.userlist {
  display: block;
  position: relative;
  float: left;
  width: 200px;
  height: 100vh;
  background-color: tomato;
}

.userlist>h3 {
  text-align: center;
  color: white;
  padding-top: 10px;
}

.ulist {
  list-style: none;
  width: auto;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.ulist>li {
  font-size: 25px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
  font-family: 'Montserrat';
}

ul>li:hover {
  background: white;
  box-sizing: border-box;
  cursor: pointer;
}


/* ---------------------------------------- CHAT BOXES ----------------------------------------------*/

.container {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #2f323b;
  width: 500px;
  overflow: hidden;
  height: 500px;
  background: #2f323b;
  transition-duration: .12s;
  transition-property: height;
  transition-timing-function: ease-in-out;
}

.container div {
  border: 1px solid black;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid gray;
  max-width: 80%;
  background: #c6c5c2;

}

.box1 {
  /* sender box */
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  width:max-content;

}
.box2 > h1{
  float:right;
}
.box2 > p{
  clear:both;
}

.box2 {
  /* receiver box */
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  width:max-content;
}


.chatwindow::-webkit-scrollbar {
  width: 5px;
  background: #2f323b;
}

.chatwindow::-webkit-scrollbar-thumb {
  background: slategray;
}

.chatin input {
  /* flex:0 0 auto;
	height:50px; */
  outline: 0 none;
  border: none;
  width: calc(100% - 60px);
  height: 59px;
  background: #2f323b;
  color: white;
  text-indent: 10px;

}

.chatwindow {
  flex: auto;
  max-height: calc(100% - 50px);
  overflow: auto;
}

.chatin button {
  outline: 0 none;
  border: none;
  float: right;
  width: 40px;
  background: rgba(255, 255, 255, .25);
  height: 40px;
  border-radius: 50%;
  padding: 2px 0 0 0;
  margin: 10px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.chatin input[good]+button path {
  fill: white;
}

.chatin input[good]+button {
  box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
  background: #2671ff;
}

.chatin input[good]+button:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  border: none !important;
  border-radius: 0 !important;
  max-width: 100% !important;
  background: #2f323b !important;
  color: white;
  padding: 10px;

}

.header>span {
  font-family: Roboto;
}

.close {
  float: right;
  outline: 0;
  border: none;
  background: #2f323b;
  color: white;
  cursor: pointer;
}

.fixedcont {
  display: flex;
  position: fixed;
  bottom: 38px;
}

.fixedcont>* {
  margin: 5px;
  flex: 0 0 auto !important;
  margin-top: auto;
}

.posttime {
  margin-left: 3px;
}

.username {
  margin-right: 3px;
}

.timestamp {
  color: rgba(0, 0, 0, .38);
  font-size: 10pt;
  margin-bottom: 10px;
  font-weight: bold;
}
